@model IEnumerable<SportsPro.Models.Product>

@{
    Layout = "_Layout";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info text-white alert-dismissible fade show text-center" role="alert">
        <h1>@TempData["SuccessMessage"]</h1>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2>Product Manager</h2>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductCode)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.YearlyPrice)</th>
            <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductCode</td>
            <td>@item.Name</td>
            <td>@item.YearlyPrice.ToString("C")</td>
            <td>@item.ReleaseDate.ToShortDateString()</td>
            <td>
                <!-- If you want the custom route for Edit -->
                <a asp-action="Edit"
                   asp-route-id="@item.ProductID"
                   asp-route-name="@item.Name"
                   class="btn btn-primary">Edit</a>

                <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-secondary">Details</a>

                <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
</p>

